html,body{
  height: 100%;
}
body{
  /* flex纵向排列 */
  display: flex;
  flex-direction: column;
}
header{
  height: 7.375rem;
  background-color: #edeef0;
  border-radius: 0.625rem;
}
header .header_top{
   height: 2.75rem;
   border-radius: 0.625rem;
   
}
header .header_top h2{
  text-align: center;
  color:#000;
  font-size: 1.875rem;
  letter-spacing: 0.125rem;
}
header .header_bottom{
  height: 2.5rem;
  background-color:#ffffff;
}
.dev{
  display: flex;
  overflow: auto;
  padding: 0
}
.dev li{
  list-style-type: none;
  flex-shrink: 0;
}
.devbox1{
  height: 1.25rem;
  background-color: #edeef0;
  padding-left:0.624rem;
  padding-right: 0.625rem;
  margin-right: 1.25rem;
  border-radius: 1.875rem;
  margin-top:-0.5625rem;
}
.dev a{
  text-decoration: none;
}
.dev a :hover{
  background-color: #dadddf;
}
.devbox1 p{
  text-align: center;
  color: #000;
}
section{
  overflow:auto;
  background-color: #f4f5f7;
}
#bookShelf{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  padding-bottom:1.875rem;
}
.item{
  /* border: #000 1px solid; */
  width: 30%;
  margin-top: 1.25rem;
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
  white-space: nowrap; 
  /* 保证只有一行 */
  overflow: hidden;
  /* 超出部分隐藏 */
}
.item :hover{
  background-color: #f1f9ff;
}
.item a{
  color: #000;
  text-decoration: none;
}
.item p{
  text-align: center;
  color: #858c96;
  margin-top: 0.75rem;
  margin-bottom: 0.125rem;
}
.item img{
  width:100%;
  border-radius: 0.3125rem;
}

footer{
height: 18.75rem;
background-color: #ffffff;
}
