html,
body {
  height: 100%;
}

body {
  /* flex纵向排列 */
  display: flex;
  flex-direction: column;
}

header {
  height: 4rem;
  background-color: #edeef0;
}

.top1 {
  height: 4rem;
  background-color: #edeef0;
  /* background-color: #edeef0;  */
  box-shadow: 0 1rem 4rem #0000000d;
  border-radius: 5px;
  margin-left: 2rem;
}

.top1 b {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  /* flex: 53px 0 0; 
  width: 110px; */
  line-height: 4rem;
  font-family: 宋体;
}

section {
  overflow: auto;
  /* background-color: #edeef0; */
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.box1{
  display: flex;
  margin-top: 2.5rem;
}

.boxs img {
  width: 9rem;
  height: 12rem;
  margin-left: 0.5rem;
}

.zl {
  height: 13.1875rem;
  width: 50%;
  /* border: #000 1px solid; */
  margin-left: 1.25rem;
}

.zpmz {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}

.zl li {
  height: auto;
  list-style: none;
}

.js {
  width: 100%;
  position: static;
  margin: 0;
  padding: 0;
}

.js p {
  font-size: 1rem;
  color: #191919;
  line-height: 1.375rem;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;

}

.js a {
  margin-top: 0;
  float: right;
  margin: 0;
  padding: 0;
  outline: 0;
  color: #42bd56;
  text-decoration: none;
  -webkit-tap-highlight-colorr: rgba(0, 0, 0, 0);
}

.box3 {
  margin-top: 2.0625rem;
}

.yy {
  display: flex;
  /* justify-content:space-around ; */
  /* flex-wrap: wrap; */
}

.na {
  display: flex;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.na li {
  flex-shrink: 0;
  list-style: none;
  margin-right: 0.3rem;
  width: 23%;
}

.a1 {
  margin: 0;
}

.box3 img {
  width: 5rem;
  height: 6rem;
}

.box3 p {
  text-align: center;
  margin: 0;
}

.jz {
  width: 100%;
  height: 12.5rem;
}

footer {
  height: 12.5rem;
}

h3 {
  color: #8b8b8b;
}

.jz1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 1.875rem;
}

.qer {

  width: 100%;
  margin: 0.06rem;
}
.qer img{
  border: 1px #000 solid;
  width: 10rem;
  height: 6rem;
  margin: 0.46rem;

}
button {
  margin-left: 8rem;
}